In [23]:
from random import choice 
import pandas as pd

In [24]:
# Name, Restaurant/Cafe/Bar, City, Cusine, Vibe,  
my_list = [['Tuts', 'Restaurant', 'Toronto', 'Egyptian', 'Quick but filling'], 
           ['Found Coffee', 'Cafe', 'Toronto', 'American', 'Bougie Coffee'], 
           ['Studio 89', 'Cafe', 'Mississauga', 'American', 'Comfort foods/WFH'],
           ['Impact Kitchen', 'Restaurant', 'Toronto', 'American', 'Healthy'],
           ['Chiangmai', 'Restaurant', 'Etobicoke', 'Thai', 'Dinner'], 
           ['1 Kitchen Toronto', 'Restaurant', 'Toronto', 'American', 'Bougie Brunch'],
           ['Bar Poet', 'Bar', 'Toronto', 'Pub Food', 'Fun City Night']]
mylist = pd.DataFrame(my_list, columns=['Name', 'Type', 'City', 'Cusine', 'Vibe'])
mylist

                Name        Type         City    Cusine               Vibe
0               Tuts  Restaurant      Toronto  Egyptian  Quick but filling
1       Found Coffee        Cafe      Toronto  American      Bougie Coffee
2          Studio 89        Cafe  Mississauga  American  Comfort foods/WFH
3     Impact Kitchen  Restaurant      Toronto  American            Healthy
4          Chiangmai  Restaurant    Etobicoke      Thai             Dinner
5  1 Kitchen Toronto  Restaurant      Toronto  American      Bougie Brunch
6           Bar Poet         Bar      Toronto  Pub Food     Fun City Night

In [25]:
# If you want to add a new item to the list
new = input("Enter Name, Type, City, Cusine and Vibe in comma separated list")
sep = new.split(",")
sep
mylist.loc[len(mylist),'Name'] = sep[0]
mylist.loc[len(mylist)-1,'Type'] = sep[1]
mylist.loc[len(mylist)-1,'City'] = sep[2]
mylist.loc[len(mylist)-1,'Cusine'] = sep[3]
mylist.loc[len(mylist)-1,'Vibe'] = sep[4]

Enter Name, Type, City, Cusine and Vibe in comma separated listDaal Roti,Restaurant, Mississauga, Indian, High quality indian food!

In [28]:
#full list 
mylist

,Name,Type,City,Cusine,Vibe
0,Tuts,Restaurant,Toronto,Egyptian,Quick but filling
1,Found Coffee,Cafe,Toronto,American,Bougie Coffee
2,Studio 89,Cafe,Mississauga,American,Comfort foods/WFH
3,Impact Kitchen,Restaurant,Toronto,American,Healthy
4,Chiangmai,Restaurant,Etobicoke,Thai,Dinner
5,1 Kitchen Toronto,Restaurant,Toronto,American,Bougie Brunch
6,Bar Poet,Bar,Toronto,Pub Food,Fun City Night
7,Daal Roti,Restaurant,Mississauga,Indian,High quality indian food!

In [31]:
print("what city are you going to?")
city = input()

what city are you going to?
Toronto

In [37]:
subset = []
for i in mylist.index:
    if mylist.iloc[i,2]==city:
        subset.append(mylist.loc[i,"Name"])
print("You should try " + choice(subset))
print("Other options in " + city + ":")
print(subset)

You should try Bar Poet
Other options in Toronto:
['Tuts', 'Found Coffee', 'Impact Kitchen', '1 Kitchen Toronto', 'Bar Poet']